<h1>Edit your figure</h1>

<form action="/figures/<%= @figure.id %>" method="POST">
  <label for="figure_name">Name:</label>
  <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>"></input>
  <br></br>

<label for="titles">Choose your Title:</label>
  <% Title.all.each do |title| %>
  <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"<%="checked" if @figure.titles.include?(title)%>><%= title.name %></input>
  <% end %>
<br></br>

<label for="landmarks">Choose your Landmark:</label>
  <% Landmark.all.each do |landmark| %>
  <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"<%="checked" if @figure.landmarks.include?(landmark)%>><%= landmark.name %></input>
  <% end %>
  <br></br>

  <label for="landmarks_new">Create a Landmark:</label>
  <input type="text" name="landmark[name]" value="" id="new_landmark" ><br></br>
  <input type="integer" name="landmark[year_completed]" value=""><br></br>


  <label for="titles_new">Create a Title:</label>
  <input type="text" name="title[name]" value="" id="new_title"><br></br>
  <button type="submit" name="" value="">Edit Figure</button>

</form>
